<style>
  html {
    background-image: url('../images/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%!important;
  }

  * {
    color: #fff;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%!important;
  }

  main {
    text-shadow: 2px 0px 6px #111;
    padding: 40px;
  }

  h1 {
    margin-bottom: 15px;
  }
</style>
<main>
    <h1>Site Banned!</h1>
    <p>
        This website has been added to your ban list and you're prevented from viewing for your own good!
        <br> If you want to regain access to this website, remove this from your banlist from the browser extension popup.
    </p>
</main>
